html {
    overflow-y: auto;
    overflow-x: hidden;
}

html,
body {
    cursor: default;
    display: flex;
    flex-direction: column;
    scrollbar-base-color: #F3F3F3;
    scrollbar-face-color: #CECECE;
    scrollbar-3dlight-color: #CECECE;
    scrollbar-highlight-color: #CECECE;
    scrollbar-track-color: #F3F3F3;
    scrollbar-arrow-color: #F3F3F3;
    scrollbar-shadow-color: #CECECE;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F3F3F3;
    color: #1B1B1B;
}

a:hover,
p,
body,
label,
.label,
.input-elem {
    color: #1B1B1B;
}

body,
div,
input,
header{
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

header {
    width: 100%;
    display: flex;
    color: #090909;
    background: #F3F3F3;
    font-family: Segoe UI;
    font-size: 9pt;
    font-weight: 500;
}

.title-bar {
    padding: 0.35em 0.5em;
    flex-grow: 1;
    margin-left: 4px;
}

.title-btn {
    padding: 0.35em 1.0em;
    cursor: default;
    vertical-align: bottom;
    font-family: Webdings;
    font-size: 11pt;
}

.title-btn-minimize:hover,
.title-btn-maximize:hover {
    background: #D0D0D0;
}

.title-btn-close:hover {
    background: #e81123;
    color: #f2f2f2
}

.main {
    /* Some settings for everything in the client area */
    font-size: 12pt;
    overflow: auto;
}

.container {
    /* Only render items in the center 600px of the client area */
    max-width: 650px !important;
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
}

.inner-container {
    transform: scale(0.93, 0.93);
    -ms-transform: scale(0.93, 0.93);
}

.spaced-label{
    margin-top: 1rem !important;
}

.box-visible {
    visibility: visible !important;
    background-color: #FBFBFB !important;
    opacity: 1 !important;
    padding-top: 5px !important;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px, rgba(0, 0, 0, 0.15) 0 0.5px 1px !important;
    transition: box-shadow 0.23s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s linear, transform 230ms cubic-bezier(0.19, 1, 0.22, 1),visibility 0.1s , height 0.2s linear;
    margin-bottom: 20px !important;
    width: 80%;
}

.box-visible:hover {
    background-color: #F8F8F8 !important;
    transform: translateY(-2px);
}

.box-hidden {
    height: 1px !important;
    opacity: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    visibility: hidden !important;
}

.noselect {
    -ms-user-select: none;
    user-select: none;
}

.pane-header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 40px;
}

.radio {
    font-weight: 500;
}

input[type="radio"],
input[type="checkbox"] {
    visibility: hidden !important;
    display: none;
}

input[type="radio"]+span,
input[type="checkbox"]+span {
    font-weight: 400;
}

input[type="radio"]:checked+span,
input[type="checkbox"]:checked+span {
    color: #ff572d !important;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
    background-color: #ffffff;
}

.title {
    margin-top: 0;
}

.type-radio {
    width: 75%;
}

.tag {
    cursor: default;
    visibility: visible !important;
    opacity: 1 !important;
    background-color: #FBFBFB !important;
    margin: 5px;
    border-radius: 5px;
    transition: box-shadow 0.23s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s linear, transform 240ms cubic-bezier(0.19, 1, 0.22, 1), visibility 0.1s, height 0.2s linear;
    box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px, rgba(0, 0, 0, 0.15) 0 0.5px 1px ;
}

.tag:hover {
    background-color: #F8F8F8 !important;
    transform: translateY(-4px);
}

img#MicMute_icon {
    width: 44px;
    border-radius: 10px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

img#MicMute_icon:hover,
label:hover>img#MicMute_icon {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.055), 0 0 20px 0 rgba(255, 87, 45, 0.63), 0 9px 46px 8px rgba(0, 0, 0, 0.055);
}

.tag.option {
    border: #ff572d solid 1px;
}

#notification {
    min-width: 200px;
    max-width: 240px;
    text-align: center;
    position: absolute;
    top: 38px;
    right: 25px;
}

.row {
    padding-top: 12px !important;
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 0.1s linear !important;
}

.row-hidden {
    visibility: hidden !important;
    height: 1px !important;
    opacity: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    transition: visibility 0s 0.1s, opacity 0.1s linear, height 0.2s !important;
}

:-ms-input-placeholder {
    color: #9b9b9b !important;
}

input[type="text"].input-elem {
    margin-bottom: 10px !important;
}

footer {
    display: flex !important;
    margin-bottom: 10px;
}

#footer-tag {
    height: 2.5em !important;
    width: fit-content !important;
    margin: 0 auto !important;
}

p.content {
    font-size: 13px !important;
}

a {
    transition: color .2s ease-in-out;
    color: #ff572d;
    text-decoration: none;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.2s ease-in-out 0.2s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #ffffff;
    color: #111;
    font-size: 14px ;
    font-weight: 400 !important;
    text-align: center;
    position: absolute;
    padding: 5px 10px !important;
    bottom: 150%;
    left: -20px;
    width: 210px;
    height: max-content;
    white-space: pre-wrap;
    box-shadow: rgba(0, 0, 0, 0.11) 0 3px 4px, rgba(0, 0, 0, 0.096) 0 0.5px 1px;
    opacity: 0;
    border-radius: 5px;
    z-index: 99999;
    visibility: hidden;
    overflow: hidden;
}

[data-title] {
    position: relative;
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 0.1s linear !important;
}

.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: visibility 0s 0.1s, opacity 0.1s linear !important;
}

#profile_name {
    position: fixed;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#page_mask {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: #FF4D20;
}
input[type=range].slider {
    width: 90%;
    margin: 2px 0.5px;
    background-color: transparent;
}

input[type=range].slider:focus {
    outline: none;
}

input[type=range].slider::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5px;
    color: transparent;
    height: 8.2px;
}
input[type=range].slider::-ms-fill-lower {
    background: #ff4f23;
    border: 0;
    border-radius: 42.8px;
}
input[type=range].slider::-ms-fill-upper {
    background: rgba(156, 156, 156, 0.315);
    border: 0;
    border-radius: 42.8px;
}
input[type=range].slider::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    cursor: default;
    margin-top: 0;
}
input[type=range].slider::-ms-tooltip{
    display: none;
}

div.tabs{
    margin-bottom: 0 !important;
}

._title{
    margin-bottom: 10px;
}

input[disabled],
select,
button,
input[type="radio"],
input[type="checkbox"],
label,
.tag{
    cursor: default !important;
}